body
{
    color: #333;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

#conteiner{
    width: 70%;
    padding: lem;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto 
}

#cabecera{
    width: 70%;
    padding: lem;
    text-align: left;
    border: 1px solid #9b1ce6;
    background-color: #9b1ce6;
    margin: 0 auto 

}

#conteiner h1 {
    font-family: 20px;
}